mixin btn({ text, isLink })
  if isLink
    a.btn(href="#")&attributes(attributes)
      span.btn__bg
      span.btn__text= text

  else
    button.btn&attributes(attributes)
      span.btn__bg
      span.btn__text= text
