extends ../templates/template.pug
block content

  section.hero
    .container
      .hero__inner
        .hero__info
          h1.hero__title.t-h1
            span Человеческий
            | Онлайн переводчик
          .hero__paragraph
            b.hero__subtitle Получить профессиональный перевод теперь так же просто как вызвать такси
            p.hero__text Etter - онлайн переводчик, в котором перевод осуществяется людьми, а не программой. Мы как гугл переводчик, только у нас переводят люди. Вы можете получить результат уже через 15 минут, это реально, просто попробуйте!
            
          .hero__buttons
            +btn({ text: 'Рассчитать стоимость' })
            +btn({ text: 'О нас', isLink: true }).btn--outline
          
        .hero__img
          img(src="/assets/img/svg/hero.svg" alt="Hero")

  section.cta
    .container
      .cta__inner
        .cta__img
          img(src="/assets/img/cta.png" alt="CTA")
        .cta__text
          h2.cta__title.t-h2
            span Бюро переводов делают долго и дорого? 
            | Машинный перевод не справляется?
          p Тогда воспользуйтесь нашим сервисом. Это так же просто как вызвать такси. 
          +btn({ text: 'Рассчитать стоимость' })

  section.banner
    .container
      .banner__inner
        .banner__cover

        .banner__text
          h2.banner__title.t-h2
            span Ваш перевод
            | всегда под рукой
          p Оставляйте заказы, следите за статусом и общайтесь с переводчиком через наше веб-приложение

        .banner__img
          img(src="/assets/img/banner.png" alt="Banner")

  section.cards
    .container
      h2.cards__title.t-h2
        span С помощью нас 
        | вы сможете получить

      .cards__wrap
        ul.cards__list
          li
            .card
              img(src="/assets/img/cards-1.png" alt="#")
              .card__inner
                b.card__title Экспресс перевод коротких текстов
                p.card__text Поддерживайте деловую переписку с вашими партнерами из Китая, Америки или любой другой страны.
                +btn({ text: 'Рассчитать стоимость'})
          li
            .card
              img(src="/assets/img/cards-2.png" alt="#")
              .card__inner
                b.card__title Быстрый перевод документов
                p.card__text Профессиональный перевод документов, руководств, веб-сайтов, программного обеспечения и многого другого 
                +btn({ text: 'Рассчитать стоимость'})
          li
            .card
              img(src="/assets/img/cards-3.png" alt="#")
              .card__inner
                b.card__title Проверку качества перевода
                p.card__text Заказжите проверку у Etter, наши профессионалы быстро проверят и исправят ошибки
                +btn({ text: 'Рассчитать стоимость'})

