extends ../templates/template.pug
block content

  section.hero
    .container
      .hero__inner
        .hero__info
          h1.hero__title.t-h1
            span Человеческий
            | Онлайн переводчик
          .hero__paragraph
            b.hero__subtitle Получить профессиональный перевод теперь так же просто как вызвать такси
            p.hero__text Etter - онлайн переводчик, в котором перевод осуществяется людьми, а не программой. Мы как гугл переводчик, только у нас переводят люди. Вы можете получить результат уже через 15 минут, это реально, просто попробуйте!
            
          .hero__buttons
            +btn({ text: 'Рассчитать стоимость' })
            +btn({ text: 'О нас', isLink: true }).btn--outline
          
        .hero__img
          img(src="/assets/img/svg/hero.svg" alt="Hero")

  section.cta
    .container
      .cta__inner
        .cta__img
          img(src="/assets/img/cta.png" alt="CTA")
        .cta__text
          h2.cta__title.t-h2
            span Бюро переводов делают долго и дорого? 
            | Машинный перевод не справляется?
          p Тогда воспользуйтесь нашим сервисом. Это так же просто как вызвать такси. 
          +btn({ text: 'Рассчитать стоимость' })

  section.banner
    .container
      .banner__inner
        .banner__cover
        
        .banner__text
          h2.banner__title.t-h2
            span Ваш перевод
            | всегда под рукой
          p Оставляйте заказы, следите за статусом и общайтесь с переводчиком через наше веб-приложение

        .banner__img
          img(src="/assets/img/banner.png" alt="Banner")

