extends ../templates/template.pug
block content
  .container.u-center(style="flex-direction: column")
      h1 Header 1
      h2 Header 2
      br
      
      h1.t-h1 Header 1
      h2.t-h2 Header 2
      br

      a(href="") Ссылка
      +btn

      br

